@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
</head>

<body>
	<h1>
		CSS Positioning Types
	</h1>

	<ul>
		<li>Static (Default)</li>
		<li>Relative</li>
		<li>Absolute</li>
		<li>Fixed</li>
		<li>Sticky</li>
	</ul>

	<hr />

	<h1>
		CSS Positioning Keywords
	</h1>

	<ul>
		<li>Top</li>
		<li>Right</li>
		<li>Bottom</li>
		<li>Left</li>
	</ul>

	<hr />

	<h1>
		Document Flow
	</h1>

	<ul>
		<li>Block (Block Elements)</li>
		<li>Inline (Inline Elements)</li>
	</ul>

	<hr />
</body>
</html>
