@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />

	<style>
		div.lightgray {
			width: 200px;
			height: 200px;
			background-color: lightgray;
		}

		div.parent {
			width: 400px;
			height: 400px;
			background-color: yellow;
		}

		div.red {
			width: 100px;
			height: 100px;
			background-color: red;
		}

		div.green {
			width: 100px;
			height: 100px;
			background-color: green;
			position: fixed;
			top: 20px;
			left: 20px;
		}

		/* مثال اول */
		/*
		div.green {
			width: 100px;
			height: 100px;
			background-color: green;
			position: fixed;
			top: 20px;
			left: 20px;
		}
		*/

		/* مثال دوم */
		/*
		div.green {
			width: 100px;
			height: 100px;
			background-color: green;
			position: fixed;
			top: 20px;
			right: 20px;
		}
		*/

		/* مثال سوم */
		/*
		div.green {
			width: 100px;
			height: 100px;
			background-color: green;
			position: fixed;
			right: 20px;
			bottom: 20px;
		}
		*/

		/* مثال چهارم */
		/*
		div.green {
			width: 100px;
			height: 100px;
			background-color: green;
			position: fixed;
			left: -20px;
			bottom: -20px;
		}
		*/

		div.blue {
			width: 100px;
			height: 100px;
			background-color: blue;
		}
	</style>
</head>

<body>
	<h1>
		Fixed - Based on body (Window)!
	</h1>

	<hr />

	<h5>
		Note: The viewport (Browser Window)
	</h5>

	<h5>
		Note: In fixed document flow, elements ARE removed from document flow!
	</h5>

	<hr />

	<div class="lightgray">
	</div>

	<div class="parent">
		<div class="red">
		</div>

		<div class="green">
		</div>

		<div class="blue">
		</div>
	</div>

	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>

	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>

	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>

	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>

	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
	<p>Hello, World!</p>
</body>
</html>
