@page

@{
	ViewData["PageTitle"] = "Step (5)";
	Layout = "Layouts/_LayoutFileManager";
}

<div class="row">
	<div class="col pt-2 px-2 m-3 border rounded shadow-lg">
		<h1>
			Step (5)
		</h1>
	</div>
</div>

<ul>
	<li>
		<a asp-page="UploadFile0">Upload Single File (0)</a>
	</li>
	<li>
		<a asp-page="UploadFile1">Upload Single File (1)</a>
	</li>
	<li>
		<a asp-page="UploadMultipleFiles0">Upload Multiple Files (0)</a>
	</li>
</ul>
