@page

<h3>
	Home
</h3>

<hr />

<div>
	<h3>
		Useful Links
	</h3>

	<a href="https://www.w3.org/wiki/Common_HTML_entities_used_for_typography" target="_blank">
		Common HTML Entities Used for Typography
	</a>
</div>

<hr />

@for (int index = 100; index <= 5000; index += 100)
{
	string fileIndex =
		index.ToString()
		.PadLeft(totalWidth: 5, paddingChar: '0');

	<br />
	<a href="~/Learn@(fileIndex)">Learn (@(index))</a>
}

<hr />

<h3>
	Learning File Manager
</h3>

<a href="~/FileManager/Step01/Index">Step (1)</a>
<br />
<a href="~/FileManager/Step02/Index">Step (2)</a>

<hr />

<h3>
	Learning CSS Positioning
</h3>

@for (int index = 100; index <= 1000; index += 100)
{
	string fileIndex =
		index.ToString()
		.PadLeft(totalWidth: 4, paddingChar: '0');

	<br />
	<a href="~/Positioning/Learn@(fileIndex)">Learn (@(index))</a>
}
