@page

<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn 400</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
	<div class="container shadow-lg py-2 my-3">
		<h1>
			&raquo; Learning Breakpoints and Containers
		</h1>
	</div>

	<hr />

	<div class="container border">
		<h3>
			Default container
		</h3>
	</div>

	<hr />

	<div class="container-sm border">
		<h3>
			Responsive Containers - container-sm
		</h3>
	</div>

	<hr />

	<div class="container-md border">
		<h3>
			Responsive Containers - container-md
		</h3>
	</div>

	<hr />

	<div class="container-lg border">
		<h3>
			Responsive Containers - container-lg
		</h3>
	</div>

	<hr />

	<div class="container-xl border">
		<h3>
			Responsive Containers - container-xl
		</h3>
	</div>

	<hr />

	<div class="container-xxl border">
		<h3>
			Responsive Containers - container-xxl
		</h3>
	</div>

	<hr />

	<div class="container-fluid border">
		<h3>
			Fluid Container
		</h3>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.3/layout/containers" target="_blank">Layout - Containers</a>
	</div>

	<hr />
</body>
</html>
