@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
	<div class="container shadow-lg pt-2 my-3">
		<h1>
			&raquo; Learning Cards
		</h1>

		<hr />
	</div>

	<hr />

	<div class="container">
		<h5>
			Card (1)
		</h5>

		
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.1/content/tables/" target="_blank">Tables</a>
	</div>

	<hr />
</body>
</html>
