@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
	<div class="container shadow-lg py-2 my-3">
		<h1>
			&raquo; Learning Color
		</h1>

		<hr />
	</div>

	<div class="container">
		<h3>
			&mdash; Background Colors
		</h3>

		<p class="bg-primary">
			bg-primary
		</p>
		<p class="bg-secondary">
			bg-secondary
		</p>
		<p class="bg-success">
			bg-success
		</p>
		<p class="bg-info">
			bg-info
		</p>
		<p class="bg-warning">
			bg-warning
		</p>
		<p class="bg-danger">
			bg-danger
		</p>
		<p class="bg-light">
			bg-light
		</p>
		<p class="bg-dark">
			bg-dark
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Color
		</h3>

		<p class="text-primary">
			text-primary
		</p>
		<p class="text-secondary">
			text-secondary (108, 117, 125) (#6c757d)
		</p>
		<p class="text-success">
			text-success
		</p>
		<p class="text-info">
			text-info
		</p>
		<p class="text-warning">
			text-warning
		</p>
		<p class="text-danger">
			text-danger
		</p>
		<p class="text-light">
			text-light
		</p>
		<p class="text-dark">
			text-dark
		</p>
		<p class="text-muted">
			text-muted (108, 117, 125) (#6c757d)
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Link Color
		</h3>

		<p>
			<a href="#" class="link-primary">link-primary</a>
		</p>
		<p>
			<a href="#" class="link-secondary">link-secondary</a>
		</p>
		<p>
			<a href="#" class="link-success">link-success</a>
		</p>
		<p>
			<a href="#" class="link-warning">link-warning</a>
		</p>
		<p>
			<a href="#" class="link-danger">link-danger</a>
		</p>
		<p>
			<a href="#" class="link-light">link-light</a>
		</p>
		<p>
			<a href="#" class="link-dark">link-dark</a>
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Color Variable
		</h3>

		<p style="color: var(--bs-gray)">
			--bs-gray
		</p>
		<p style="color: var(--bs-purple)">
			--bs-purple
		</p>
		<p class="text-white">
			text-white
		</p>
		<p class="text-black-50">
			text-black-50 (50%)
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Misc (Miscellaneous)
		</h3>

		<p class="text-success">
			Hello, World! <a href="#">I'm Link</a> روی لینک کار نمی‌کند
		</p>
		<p class="text-success link-danger">
			Hello, World! <a href="#">I'm Link</a> اگر به خود لینک ندهیم کار نمی‌کند
		</p>
		<p class="bg-warning text-success">
			Hello, World! <a href="#" class="link-danger">I'm Link</a>
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.1/customize/color/" target="_blank">Color</a>
		<br />
		<a href="https://getbootstrap.com/docs/5.1/helpers/colored-links/" target="_blank">Colored Links</a>
		<br />
		<a href="https://getbootstrap.com/docs/5.1/customize/css-variables/" target="_blank">CSS Variables</a>
	</div>

	<hr />
</body>
</html>
