@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

	<style>
		div.row {
			border: 1px solid grey;
			background-color: rgb(211,211,211, 0.3);
		}

			div.row > div[class^="col"] {
				border: 1px solid grey;
				background-color: rgb(211,211,211, 0.3);
			}
	</style>
</head>

<body>
	<div class="container px-4">
		<div class="row gx-5">
			<div class="col">
				<div class="p-3 border bg-light">Custom column padding</div>
			</div>
			<div class="col">
				<div class="p-3 border bg-light">Custom column padding</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container px-4">
		<div class="row gx-5">
			<div class="col">
				<div class="border bg-light">Custom column padding</div>
			</div>
			<div class="col">
				<div class="border bg-light">Custom column padding</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container px-4">
		<div class="row gx-5">
			<div class="col">
				<div class="bg-light">Custom column padding</div>
			</div>
			<div class="col">
				<div class="bg-light">Custom column padding</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container px-4">
		<div class="row gx-5">
			<div class="col">
				<div class="">Custom column padding</div>
			</div>
			<div class="col">
				<div class="">Custom column padding</div>
			</div>
		</div>
	</div>

	<div class="container">
		<h5>
			Grid (1)
		</h5>

		<div class="row">
			<div class="col-3">
				Col_1_1
			</div>
			<div class="col-3">
				Col_1_2
			</div>
			<div class="col-3">
				Col_1_3
			</div>
			<div class="col-3">
				Col_1_4
			</div>

			<div class="col-3">
				Col_2_1
			</div>
			<div class="col-3">
				Col_2_2
			</div>
			<div class="col-3">
				Col_2_3
			</div>
			<div class="col-3">
				Col_2_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (2)
		</h5>

		<div class="row gx-5">
			<div class="col-3">
				Col_1_1
			</div>
			<div class="col-3">
				Col_1_2
			</div>
			<div class="col-3">
				Col_1_3
			</div>
			<div class="col-3">
				Col_1_4
			</div>

			<div class="col-3">
				Col_2_1
			</div>
			<div class="col-3">
				Col_2_2
			</div>
			<div class="col-3">
				Col_2_3
			</div>
			<div class="col-3">
				Col_2_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (35) - Gutter
		</h5>

		<div class="row gx-1">
			<div class="col-3">
				Col_1_1
			</div>
			<div class="col-3">
				Col_1_2
			</div>
			<div class="col-3">
				Col_1_3
			</div>
			<div class="col-3">
				Col_1_4
			</div>

			<div class="col-3">
				Col_2_1
			</div>
			<div class="col-3">
				Col_2_2
			</div>
			<div class="col-3">
				Col_2_3
			</div>
			<div class="col-3">
				Col_2_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (35) - Gutter
		</h5>

		<div class="row gx-1">
			<div class="col-3 border">
				Col_1_1
			</div>
			<div class="col-3 border">
				Col_1_2
			</div>
			<div class="col-3 border">
				Col_1_3
			</div>
			<div class="col-3 border">
				Col_1_4
			</div>

			<div class="col-3 border">
				Col_2_1
			</div>
			<div class="col-3 border">
				Col_2_2
			</div>
			<div class="col-3 border">
				Col_2_3
			</div>
			<div class="col-3 border">
				Col_2_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (36)
		</h5>

		<div class="row g-1">
			<div class="col-3">
				Col_1_1
			</div>
			<div class="col-3">
				Col_1_2
			</div>
			<div class="col-3">
				Col_1_3
			</div>
			<div class="col-3">
				Col_1_4
			</div>

			<div class="col-3">
				Col_2_1
			</div>
			<div class="col-3">
				Col_2_2
			</div>
			<div class="col-3">
				Col_2_3
			</div>
			<div class="col-3">
				Col_2_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (36)
		</h5>

		<div class="row g-5">
			<div class="col-3">
				Col_1_1
			</div>
			<div class="col-3">
				Col_1_2
			</div>
			<div class="col-3">
				Col_1_3
			</div>
			<div class="col-3">
				Col_1_4
			</div>

			<div class="col-3">
				Col_2_1
			</div>
			<div class="col-3">
				Col_2_2
			</div>
			<div class="col-3">
				Col_2_3
			</div>
			<div class="col-3">
				Col_2_4
			</div>
		</div>
	</div>











	<hr />

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.1/layout/grid/" target="_blank">Grid System</a>
	</div>

	<hr />
</body>
</html>
