@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

	<style>
		div.row {
			border: 1px solid grey;
			background-color: rgb(211,211,211, 0.3);
		}

			div.row > div[class^="col"] {
				border: 1px solid grey;
				background-color: rgb(211,211,211, 0.3);
			}

				div.row > div[class^="col"] > div {
					padding: 10px;
					border: 1px solid grey;
					background-color: rgb(211,211,211, 0.3);
				}
	</style>
</head>

<body>
	<div class="container shadow-lg py-2 my-3">
		<h1>
			&raquo; Learning Gutters
		</h1>
	</div>

	<hr />

	<div class="container">
		<h3>
			Horizontal Gutter
		</h3>
	</div>

	<div class="container">
		<div class="row">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<br />

	@*
		دقت کنید که برای حالت ذیل نیست

		<div class="container">
			<div class="row">
				<div class="col">
					Col_1
				</div>
				<div class="col">
					Col_2
				</div>
			</div>
		</div>

		<br />
	*@

	<div class="container">
		<div class="row gx-0">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row gx-0">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row gx-1">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row gx-2">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row gx-3">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row gx-4">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row gx-5">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			Vertical Gutter
		</h3>
	</div>

	<div class="container">
		<div class="row row-cols-2 gy-0">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row row-cols-2 gy-1">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row row-cols-2 gy-2">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row row-cols-2 gy-3">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row row-cols-2 gy-4">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row row-cols-2 gy-5">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			Horizontal and Vertical Gutter
		</h3>
	</div>

	<div class="container">
		<div class="row row-cols-2 g-0">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row row-cols-2 g-1">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row row-cols-2 g-2">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row row-cols-2 g-3">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row row-cols-2 g-4">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<br />

	<div class="container">
		<div class="row row-cols-2 g-5">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.1/layout/gutters/" target="_blank">Gutters</a>
	</div>

	<hr />
</body>
</html>
