@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
	<h1>
		&raquo; Learning Typography
	</h1>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Font Sizes
		</h3>

		<h1>
			Hello, World! (h1)
		</h1>
		<h2>
			Hello, World! (h2)
		</h2>
		<h3>
			Hello, World! (h3)
		</h3>
		<h4>
			Hello, World! (h4)
		</h4>
		<h5>
			Hello, World! (h5)
		</h5>
		<h6>
			Hello, World! (h6)
		</h6>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Font Sizes
		</h3>

		<h1 class="h3">
			Hello, World! (h1)
		</h1>
		<h2 class="h3">
			Hello, World! (h2)
		</h2>
		<h3 class="h3">
			Hello, World! (h3)
		</h3>
		<h4 class="h3">
			Hello, World! (h4)
		</h4>
		<h5 class="h3">
			Hello, World! (h5)
		</h5>
		<h6 class="h3">
			Hello, World! (h6)
		</h6>
		<p class="h3">
			Hello, World! (p)
		</p>
		<div class="h3">
			Hello, World! (div)
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Font Sizes
		</h3>

		<div class="fs-1">
			Hello, World! (div) (fs-1)
		</div>
		<div class="fs-2">
			Hello, World! (div) (fs-2)
		</div>
		<div class="fs-3">
			Hello, World! (div) (fs-3)
		</div>
		<div class="fs-4">
			Hello, World! (div) (fs-4)
		</div>
		<div class="fs-5">
			Hello, World! (div) (fs-5)
		</div>
		<div class="fs-6">
			Hello, World! (div) (fs-6)
		</div>
		<p class="fs-6">
			Hello, World! (p) (fs-6)
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Font Sizes
		</h3>

		<h1 class="display-1">
			Hello, World! (h1) (display-1)
		</h1>
		<h1 class="display-2">
			Hello, World! (h1) (display-2)
		</h1>
		<h1 class="display-3">
			Hello, World! (h1) (display-3)
		</h1>
		<h1 class="display-4">
			Hello, World! (h1) (display-4)
		</h1>
		<h1 class="display-5">
			Hello, World! (h1) (display-5)
		</h1>
		<h1 class="display-6">
			Hello, World! (h1) (display-6)
		</h1>
		<div class="display-6">
			Hello, World! (div) (display-6)
		</div>
		<p class="display-6">
			Hello, World! (p) (display-6)
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Font Sizes
		</h3>

		<p>
			Hello, World! (p)
		</p>
		<p class="lead">
			Hello, World! (p) (lead)
		</p>

		<div>
			Hello, World! (div)
		</div>
		<div class="lead">
			Hello, World! (div) (lead)
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Font Weight
		</h3>

		<p>
			Hello, World! [Default]
		</p>
		<p>
			<span class="fw-lighter">
				Hello, World! (fw-lighter) (relative to the parent element)
			</span>
		</p>
		<p class="fw-light">
			Hello, World! (fw-light)
		</p>
		<p class="fw-normal">
			Hello, World! (fw-normal)
		</p>
		<p class="fw-bold">
			Hello, World! (fw-bold)
		</p>
		<p>
			<span class="fw-bolder">
				Hello, World! (fw-bolder) (relative to the parent element)
			</span>
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Style
		</h3>

		<p>
			Hello, World! (p) [Default]
		</p>
		<p class="fst-italic">
			Hello, World! (p) (fst-italic)
		</p>
		<div class="fst-italic">
			Hello, World!
			<p class="fst-normal">
				Hello, World! (p) (fst-normal) (means Reset)
			</p>
			Hello, World!
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Decoration
		</h3>

		<p>
			Hello, World! (p) [Default]
		</p>
		<p class="text-decoration-underline">
			Hello, World! (p) (text-decoration-underline)
		</p>
		<p class="text-decoration-line-through">
			Hello, World! (p) (text-decoration-line-through)
		</p>
		<p class="text-decoration-none">
			<a href="#">Hello, World!</a> کار نمی‌کند
		</p>
		<p>
			<a href="#" class="text-decoration-none">Hello, World!</a>
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Transform
		</h3>

		<p>
			hElLo, wOrLd!
		</p>
		<p class="text-lowercase">
			hElLo, wOrLd!
		</p>
		<p class="text-uppercase">
			hElLo, wOrLd!
		</p>
		<p class="text-capitalize">
			hElLo, wOrLd! در این حالت، کار نمی‌کند
		</p>
		<p class="text-capitalize">
			hello, world! در این حالت، کار می‌کند
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Wrapping / Breaking
		</h3>

		<p>
			Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
		</p>
		<p class="text-wrap">
			Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
		</p>
		<p class="text-nowrap">
			Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
		</p>
		<p>
			HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
		</p>
		<p class="text-break">
			HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Line Height
		</h3>

		<p>
			Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
		</p>

		<p class="lh-1">
			Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
		</p>

		<p class="lh-sm">
			Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
		</p>

		<p class="lh-base">
			Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
		</p>

		<p class="lh-lg">
			Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
			- Hello, World! - Hello, World! - Hello, World! - Hello, World! - Hello, World!
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Alignment
		</h3>

		<p>
			Hello, World! (p) [Default]
		</p>
		<p class="text-start">
			Hello, World! (p) [text-start]
		</p>
		<p class="text-center">
			Hello, World! (p) [text-center]
		</p>
		<p class="text-end">
			Hello, World! (p) [text-end]
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Horizontal Alignment with Breakpoints
		</h3>

		<p>
			Hello, World! (p) [Default]
		</p>
		<p class="text-sm-center">
			Hello, World! (p) [text-sm-center]
		</p>
		<p class="text-md-center">
			Hello, World! (p) [text-md-center]
		</p>
		<p class="text-lg-center">
			Hello, World! (p) [text-lg-center]
		</p>
		<p class="text-xl-center">
			Hello, World! (p) [text-xl-center]
		</p>
		<p class="text-xxl-center">
			Hello, World! (p) [text-xxl-center]
		</p>
		<p class="text-start text-md-center text-xxl-end">
			Hello, World! (p) [text-start text-md-center text-xxl-end]
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Vertical Alignment
		</h3>

		<div class="bg-light border" style="line-height: 100px;">
			<span>[Default]</span>
			<span class="align-baseline">[align-baseline]</span>
			<span class="align-top">[align-top]</span>
			<span class="align-middle">[align-middle]</span>
			<span class="align-bottom">[align-bottom]</span>
			<span class="align-text-top">[align-text-top]</span>
			<span class="align-text-bottom">[align-text-bottom]</span>
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Misc (Miscellaneous)
		</h3>

		<div class="font-monospace">
			for(int index = 1; index <= 10; index++)
			{
				System.Console.WriteLine("Hello, World!");
			}
		</div>

		<code>
			for(int index = 1; index <= 10; index++)
			{
				System.Console.WriteLine("Hello, World!");
			}
		</code>

		<div class="text-danger">
			Hello, World! <a href="#">This is Link!</a> Hello, World!
		</div>

		<div class="text-danger">
			Hello, World! <a href="#" class="text-reset">This is Link!</a> Hello, World!
		</div>
	</div>

	<hr />

	<div>
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.0/utilities/text/" target="_blank">Text</a>
		<br />
		<a href="https://getbootstrap.com/docs/5.1/content/typography/" target="_blank">Typography</a>
	</div>

	<hr />
</body>
</html>
