@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
	<h1>
		&raquo; Learning Color
	</h1>

	<hr />

	<div class="container">
		<h3>
			&mdash; Background Colors
		</h3>

		<p class="bg-primary">
			Primary
		</p>
		<p class="bg-secondary">
			Secondary
		</p>
		<p class="bg-success">
			Success
		</p>
		<p class="bg-info">
			Info
		</p>
		<p class="bg-warning">
			Warning
		</p>
		<p class="bg-danger">
			Danger
		</p>
		<p class="bg-light">
			Light
		</p>
		<p class="bg-dark">
			Dark
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Text Colors
		</h3>

		<p class="text-primary">
			Primary
		</p>
		<p class="text-secondary">
			Secondary (108, 117, 125) (#6c757d)
		</p>
		<p class="text-success">
			Success
		</p>
		<p class="text-info">
			Info
		</p>
		<p class="text-warning">
			Warning
		</p>
		<p class="text-danger">
			Danger
		</p>
		<p class="text-light">
			Light
		</p>
		<p class="text-dark">
			Dark
		</p>
		<p class="text-muted">
			Muted (108, 117, 125) (#6c757d)
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Link Colors
		</h3>

		<p>
			<a href="#" class="link-primary">Primary</a>
		</p>
		<p>
			<a href="#" class="link-secondary">Secondary</a>
		</p>
		<p>
			<a href="#" class="link-success">Success</a>
		</p>
		<p>
			<a href="#" class="link-warning">Warning</a>
		</p>
		<p>
			<a href="#" class="link-danger">Danger</a>
		</p>
		<p>
			<a href="#" class="link-light">Light</a>
		</p>
		<p>
			<a href="#" class="link-dark">Dark</a>
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Color Variables
		</h3>

		<p style="color: var(--bs-gray)">
			Gray
		</p>
		<p style="color: var(--bs-purple)">
			Purple
		</p>
		<p class="text-white">
			White
		</p>
		<p class="text-black-50">
			Black (50%)
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Mix
		</h3>

		<p class="text-success">
			Hello, World! <a href="#">I'm Link</a> روی لینک کار نمی‌کند
		</p>
		<p class="text-success link-danger">
			Hello, World! <a href="#">I'm Link</a> اگر به خود لینک ندهیم کار نمی‌کند
		</p>
		<p class="bg-warning text-success">
			Hello, World! <a href="#" class="link-danger">I'm Link</a>
		</p>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.1/customize/color/" target="_blank">Color</a>
		<br />
		<a href="https://getbootstrap.com/docs/5.1/helpers/colored-links/" target="_blank">Colored Links</a>
		<br />
		<a href="https://getbootstrap.com/docs/5.1/customize/css-variables/" target="_blank">CSS Variables</a>
	</div>

	<hr />
</body>
</html>
