@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
	<div class="container shadow-lg pt-2 my-3">
		<h1>
			&raquo; Learning Tables
		</h1>

		<hr />
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (1) - Without 'thead' and 'tbody'!
		</h5>

		<table>
			<tr>
				<th>
					Col 1
				</th>
				<th>
					Col 2
				</th>
				<th>
					Col 3
				</th>
				<th>
					Col 4
				</th>
			</tr>
			<tr>
				<td>Value 1,1</td>
				<td>Value 1,2</td>
				<td>Value 1,3</td>
				<td>Value 1,4</td>
			</tr>
			<tr>
				<td>Value 2,1</td>
				<td>Value 2,2</td>
				<td>Value 2,3</td>
				<td>Value 2,4</td>
			</tr>
			<tr>
				<td>Value 3,1</td>
				<td>Value 3,2</td>
				<td>Value 3,3</td>
				<td>Value 3,4</td>
			</tr>
			<tr>
				<td>Value 4,1</td>
				<td>Value 4,2</td>
				<td>Value 4,3</td>
				<td>Value 4,4</td>
			</tr>
			<tr>
				<td>Value 5,1</td>
				<td>Value 5,2</td>
				<td>Value 5,3</td>
				<td>Value 5,4</td>
			</tr>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (2) - With 'thead' and 'tbody'
		</h5>

		<table>
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (3) - Class: 'table'
		</h5>

		<table class="table">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (4) - Class: 'table table-borderless'
		</h5>

		<table class="table table-borderless">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (5) - Class: 'table table-bordered'
		</h5>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (6) - Class: 'table table-bordered border-primary'
		</h5>

		<table class="table table-bordered border-primary">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (7) - Class: 'table table-bordered border-secondary'
		</h5>

		<table class="table table-bordered border-secondary">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (8) - Class: 'table table-bordered border-success'
		</h5>

		<table class="table table-bordered border-success">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (9) - Class: 'table table-bordered border-danger'
		</h5>

		<table class="table table-bordered border-danger">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (10) - Class: 'table table-bordered border-warning'
		</h5>

		<table class="table table-bordered border-warning">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (11) - Class: 'table table-bordered border-info'
		</h5>

		<table class="table table-bordered border-info">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (12) - Class: 'table table-bordered border-light'
		</h5>

		<table class="table table-bordered border-light">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (13) - Class: 'table table-bordered border-dark'
		</h5>

		<table class="table table-bordered border-dark">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (14) - Class: 'table table-bordered table-sm'
		</h5>

		<table class="table table-bordered table-sm">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (15) - Class: 'table table-bordered table-sm table-striped'
		</h5>

		<table class="table table-bordered table-sm table-striped">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (16) - Class: 'table table-bordered table-sm table-striped table-hover'
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (17) - Class: 'table table-bordered table-sm table-striped table-hover table-primary'
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover table-primary">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (18) - Class: 'table table-bordered table-sm table-striped table-hover table-secondary'
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover table-secondary">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (19) - Class: 'table table-bordered table-sm table-striped table-hover table-success'
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover table-success">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (20) - Class: 'table table-bordered table-sm table-striped table-hover table-danger'
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover table-danger">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (21) - Class: 'table table-bordered table-sm table-striped table-hover table-warning'
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover table-warning">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (22) - Class: 'table table-bordered table-sm table-striped table-hover table-info'
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover table-info">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (23) - Class: 'table table-bordered table-sm table-striped table-hover table-light'
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover table-light">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (24) - Class: 'table table-bordered table-sm table-striped table-hover table-dark'
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover table-dark">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (25) - Class: 'table table-bordered table-sm table-striped table-hover table-active'
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover table-active">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (26) - Class: 'table table-bordered table-sm [table-striped table-hover]'
		</h5>

		<table class="table table-bordered table-sm">
			<thead>
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr class="table-active">
					<td>Value 3,1 (table-active)</td>
					<td>Value 3,2 (table-active)</td>
					<td>Value 3,3 (table-active)</td>
					<td>Value 3,4 (table-active)</td>
				</tr>
				<tr class="table-success">
					<td>Value 4,1 (table-success)</td>
					<td>Value 4,2 (table-success)</td>
					<td>Value 4,3 (table-success)</td>
					<td>Value 4,4 (table-success)</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td class="table-danger">Value 5,3 (table-danger)</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (27) - Class: 'table table-bordered table-sm table-striped table-hover'
			<br />
			THead: 'table-dark'
			<br />
			TFoot: 'table-dark'
			<br />
			ColSpan
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover">
			<thead class="table-dark">
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
			<tfoot class="table-dark">
				<tr>
					<td>Value 1,1</td>
					<td colspan="2">Value 1,2, 1,3</td>
					<td>Value 1,4</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (28) - Class: 'table table-bordered table-sm table-striped table-hover'
			<br />
			Caption
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover">
			<caption>Table of Data</caption>
			<thead class="table-dark">
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
			<tfoot class="table-dark">
				<tr>
					<td>Value 1,1</td>
					<td colspan="2">Value 1,2, 1,3</td>
					<td>Value 1,4</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (29) - Class: 'table table-bordered table-sm table-striped table-hover caption-top'
			<br />
			Caption
		</h5>

		<table class="table table-bordered table-sm table-striped table-hover caption-top">
			<caption>Table of Data</caption>
			<thead class="table-dark">
				<tr>
					<th>
						Col 1
					</th>
					<th>
						Col 2
					</th>
					<th>
						Col 3
					</th>
					<th>
						Col 4
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Value 1,1</td>
					<td>Value 1,2</td>
					<td>Value 1,3</td>
					<td>Value 1,4</td>
				</tr>
				<tr>
					<td>Value 2,1</td>
					<td>Value 2,2</td>
					<td>Value 2,3</td>
					<td>Value 2,4</td>
				</tr>
				<tr>
					<td>Value 3,1</td>
					<td>Value 3,2</td>
					<td>Value 3,3</td>
					<td>Value 3,4</td>
				</tr>
				<tr>
					<td>Value 4,1</td>
					<td>Value 4,2</td>
					<td>Value 4,3</td>
					<td>Value 4,4</td>
				</tr>
				<tr>
					<td>Value 5,1</td>
					<td>Value 5,2</td>
					<td>Value 5,3</td>
					<td>Value 5,4</td>
				</tr>
			</tbody>
			<tfoot class="table-dark">
				<tr>
					<td>Value 1,1</td>
					<td colspan="2">Value 1,2, 1,3</td>
					<td>Value 1,4</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<hr />

	<div class="container">
		<h5>
			Table (30) - Class: 'table table-bordered table-sm table-striped table-hover'
			<br />
			Responsive (Breakpoints)
		</h5>

		<div class="table-responsive">
			<table class="table table-bordered table-sm table-striped table-hover">
				<caption>Table of Data</caption>
				<thead class="table-dark">
					<tr>
						<th>
							Col 1
						</th>
						<th>
							Col 2
						</th>
						<th>
							Col 3
						</th>
						<th>
							Col 4
						</th>
						<th>
							Col 5
						</th>
						<th>
							Col 6
						</th>
						<th>
							Col 7
						</th>
						<th>
							Col 8
						</th>
						<th>
							Col 9
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Value__1__1</td>
						<td>Value__1__2</td>
						<td>Value__1__3</td>
						<td>Value__1__4</td>
						<td>Value__1__5</td>
						<td>Value__1__6</td>
						<td>Value__1__7</td>
						<td>Value__1__8</td>
						<td>Value__1__9</td>
					</tr>
					<tr>
						<td>Value__2__1</td>
						<td>Value__2__2</td>
						<td>Value__2__3</td>
						<td>Value__2__4</td>
						<td>Value__2__5</td>
						<td>Value__2__6</td>
						<td>Value__2__7</td>
						<td>Value__2__8</td>
						<td>Value__2__9</td>
					</tr>
					<tr>
						<td>Value__3__1</td>
						<td>Value__3__2</td>
						<td>Value__3__3</td>
						<td>Value__3__4</td>
						<td>Value__3__5</td>
						<td>Value__3__6</td>
						<td>Value__3__7</td>
						<td>Value__3__8</td>
						<td>Value__3__9</td>
					</tr>
					<tr>
						<td>Value__4__1</td>
						<td>Value__4__2</td>
						<td>Value__4__3</td>
						<td>Value__4__4</td>
						<td>Value__4__5</td>
						<td>Value__4__6</td>
						<td>Value__4__7</td>
						<td>Value__4__8</td>
						<td>Value__4__9</td>
					</tr>
					<tr>
						<td>Value__5__1</td>
						<td>Value__5__2</td>
						<td>Value__5__3</td>
						<td>Value__5__4</td>
						<td>Value__5__5</td>
						<td>Value__5__6</td>
						<td>Value__5__7</td>
						<td>Value__5__8</td>
						<td>Value__5__9</td>
					</tr>
				</tbody>
				<tfoot class="table-dark">
					<tr>
						<td colspan="9">Result</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Perfect Solution
			<br />
			Table (31) - Class: 'table table-bordered table-sm table-striped table-hover'
			<br />
			Scope: col, row
		</h5>

		<div class="table-responsive">
			<table class="table table-bordered table-sm table-striped table-hover">
				<caption>Table of Data</caption>
				<thead class="table-dark">
					<tr>
						<th scope="col">
							#
						</th>
						<th scope="col">
							Col 1
						</th>
						<th scope="col">
							Col 2
						</th>
						<th scope="col">
							Col 3
						</th>
						<th scope="col">
							Col 4
						</th>
						<th scope="col">
							Col 5
						</th>
						<th scope="col">
							Col 6
						</th>
						<th scope="col">
							Col 7
						</th>
						<th scope="col">
							Col 8
						</th>
						<th scope="col">
							Col 9
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Value__1__1</td>
						<td>Value__1__2</td>
						<td>Value__1__3</td>
						<td>Value__1__4</td>
						<td>Value__1__5</td>
						<td>Value__1__6</td>
						<td>Value__1__7</td>
						<td>Value__1__8</td>
						<td>Value__1__9</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Value__2__1</td>
						<td>Value__2__2</td>
						<td>Value__2__3</td>
						<td>Value__2__4</td>
						<td>Value__2__5</td>
						<td>Value__2__6</td>
						<td>Value__2__7</td>
						<td>Value__2__8</td>
						<td>Value__2__9</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Value__3__1</td>
						<td>Value__3__2</td>
						<td>Value__3__3</td>
						<td>Value__3__4</td>
						<td>Value__3__5</td>
						<td>Value__3__6</td>
						<td>Value__3__7</td>
						<td>Value__3__8</td>
						<td>Value__3__9</td>
					</tr>
					<tr>
						<th scope="row">4</th>
						<td>Value__4__1</td>
						<td>Value__4__2</td>
						<td>Value__4__3</td>
						<td>Value__4__4</td>
						<td>Value__4__5</td>
						<td>Value__4__6</td>
						<td>Value__4__7</td>
						<td>Value__4__8</td>
						<td>Value__4__9</td>
					</tr>
					<tr>
						<th scope="row">5</th>
						<td>Value__5__1</td>
						<td>Value__5__2</td>
						<td>Value__5__3</td>
						<td>Value__5__4</td>
						<td>Value__5__5</td>
						<td>Value__5__6</td>
						<td>Value__5__7</td>
						<td>Value__5__8</td>
						<td>Value__5__9</td>
					</tr>
				</tbody>
				<tfoot class="table-dark">
					<tr>
						<th scope="col" colspan="10">Result: ...</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.1/content/tables/" target="_blank">Tables</a>
	</div>

	<hr />
</body>
</html>
