@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

	<style>
		/*
		.row {
			border: 1px solid grey;
			background-color: rgb(211,211,211, 0.3);
		}

		*.row {
			border: 1px solid grey;
			background-color: rgb(211,211,211, 0.3);
		}
		*/

		div.row {
			border: 1px solid grey;
			background-color: rgb(211,211,211, 0.3);
		}

		/*
			*[class^="col"] {
				border: 1px solid grey;
				background-color: rgb(211,211,211, 0.3);
			}
		*/

		/*
			div[class^="col"] {
				border: 1px solid grey;
				background-color: rgb(211,211,211, 0.3);
			}
		*/

		/*
			div > div[class^="col"] {
				border: 1px solid grey;
				background-color: rgb(211,211,211, 0.3);
			}
		*/

			div.row > div[class^="col"] {
				border: 1px solid grey;
				background-color: rgb(211,211,211, 0.3);
			}
	</style>
</head>

<body>
	<div class="container shadow-lg pt-2 my-3">
		<h1>
			&raquo; Learning Grid
		</h1>

		<hr />
	</div>

	<hr />

	<h3>
		Equal Width
	</h3>

	<div class="container">
		<h5>
			Grid (1)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (2)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (3)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (4)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
			<div class="col">
				Col_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (5)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
			<div class="col">
				Col_4
			</div>
			<div class="col">
				Col_5
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (6)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
			<div class="col">
				Col_4
			</div>
			<div class="col">
				Col_5
			</div>
			<div class="col">
				Col_6
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (7)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
			<div class="col">
				Col_4
			</div>
			<div class="col">
				Col_5
			</div>
			<div class="col">
				Col_6
			</div>
			<div class="col">
				Col_7
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (8)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
			<div class="col">
				Col_4
			</div>
			<div class="col">
				Col_5
			</div>
			<div class="col">
				Col_6
			</div>
			<div class="col">
				Col_7
			</div>
			<div class="col">
				Col_8
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (9)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
			<div class="col">
				Col_4
			</div>
			<div class="col">
				Col_5
			</div>
			<div class="col">
				Col_6
			</div>
			<div class="col">
				Col_7
			</div>
			<div class="col">
				Col_8
			</div>
			<div class="col">
				Col_9
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (10)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
			<div class="col">
				Col_4
			</div>
			<div class="col">
				Col_5
			</div>
			<div class="col">
				Col_6
			</div>
			<div class="col">
				Col_7
			</div>
			<div class="col">
				Col_8
			</div>
			<div class="col">
				Col_9
			</div>
			<div class="col">
				Col_10
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (11)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
			<div class="col">
				Col_4
			</div>
			<div class="col">
				Col_5
			</div>
			<div class="col">
				Col_6
			</div>
			<div class="col">
				Col_7
			</div>
			<div class="col">
				Col_8
			</div>
			<div class="col">
				Col_9
			</div>
			<div class="col">
				Col_10
			</div>
			<div class="col">
				Col_11
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (12)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
			<div class="col">
				Col_4
			</div>
			<div class="col">
				Col_5
			</div>
			<div class="col">
				Col_6
			</div>
			<div class="col">
				Col_7
			</div>
			<div class="col">
				Col_8
			</div>
			<div class="col">
				Col_9
			</div>
			<div class="col">
				Col_10
			</div>
			<div class="col">
				Col_11
			</div>
			<div class="col">
				Col_12
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (13)
		</h5>

		<div class="row">
			<div class="col">
				Col_1
			</div>
			<div class="col">
				Col_2
			</div>
			<div class="col">
				Col_3
			</div>
			<div class="col">
				Col_4
			</div>
			<div class="col">
				Col_5
			</div>
			<div class="col">
				Col_6
			</div>
			<div class="col">
				Col_7
			</div>
			<div class="col">
				Col_8
			</div>
			<div class="col">
				Col_9
			</div>
			<div class="col">
				Col_10
			</div>
			<div class="col">
				Col_11
			</div>
			<div class="col">
				Col_12
			</div>
			<div class="col">
				Col_13
			</div>
			<div class="col">
				Col_14
			</div>
			<div class="col">
				Col_15
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (14)
		</h5>

		<div class="row">
			<div class="col">
				Col_1_1
			</div>
			<div class="col">
				Col_1_2
			</div>
			<div class="col">
				Col_1_3
			</div>
			<div class="col">
				Col_1_4
			</div>
		</div>

		<div class="row">
			<div class="col">
				Col_2_1
			</div>
			<div class="col">
				Col_2_2
			</div>
			<div class="col">
				Col_2_3
			</div>
			<div class="col">
				Col_2_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (15) - col-sm
		</h5>

		<div class="row">
			<div class="col-sm">
				Col_1
			</div>
			<div class="col-sm">
				Col_2
			</div>
			<div class="col-sm">
				Col_3
			</div>
			<div class="col-sm">
				Col_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (16) - col-md
		</h5>

		<div class="row">
			<div class="col-md">
				Col_1
			</div>
			<div class="col-md">
				Col_2
			</div>
			<div class="col-md">
				Col_3
			</div>
			<div class="col-md">
				Col_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (17) - col-lg
		</h5>

		<div class="row">
			<div class="col-lg">
				Col_1
			</div>
			<div class="col-lg">
				Col_2
			</div>
			<div class="col-lg">
				Col_3
			</div>
			<div class="col-lg">
				Col_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (18) - col-xl
		</h5>

		<div class="row">
			<div class="col-xl">
				Col_1
			</div>
			<div class="col-xl">
				Col_2
			</div>
			<div class="col-xl">
				Col_3
			</div>
			<div class="col-xl">
				Col_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (19) - col-xxl
		</h5>

		<div class="row">
			<div class="col-xxl">
				Col_1
			</div>
			<div class="col-xxl">
				Col_2
			</div>
			<div class="col-xxl">
				Col_3
			</div>
			<div class="col-xxl">
				Col_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (20)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (21)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (22)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (23)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
			<div class="col-1">
				Col_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (24)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
			<div class="col-1">
				Col_4
			</div>
			<div class="col-1">
				Col_5
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (25)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
			<div class="col-1">
				Col_4
			</div>
			<div class="col-1">
				Col_5
			</div>
			<div class="col-1">
				Col_6
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (26)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
			<div class="col-1">
				Col_4
			</div>
			<div class="col-1">
				Col_5
			</div>
			<div class="col-1">
				Col_6
			</div>
			<div class="col-1">
				Col_7
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (27)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
			<div class="col-1">
				Col_4
			</div>
			<div class="col-1">
				Col_5
			</div>
			<div class="col-1">
				Col_6
			</div>
			<div class="col-1">
				Col_7
			</div>
			<div class="col-1">
				Col_8
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (28)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
			<div class="col-1">
				Col_4
			</div>
			<div class="col-1">
				Col_5
			</div>
			<div class="col-1">
				Col_6
			</div>
			<div class="col-1">
				Col_7
			</div>
			<div class="col-1">
				Col_8
			</div>
			<div class="col-1">
				Col_9
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (29)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
			<div class="col-1">
				Col_4
			</div>
			<div class="col-1">
				Col_5
			</div>
			<div class="col-1">
				Col_6
			</div>
			<div class="col-1">
				Col_7
			</div>
			<div class="col-1">
				Col_8
			</div>
			<div class="col-1">
				Col_9
			</div>
			<div class="col-1">
				Col_10
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (30)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
			<div class="col-1">
				Col_4
			</div>
			<div class="col-1">
				Col_5
			</div>
			<div class="col-1">
				Col_6
			</div>
			<div class="col-1">
				Col_7
			</div>
			<div class="col-1">
				Col_8
			</div>
			<div class="col-1">
				Col_9
			</div>
			<div class="col-1">
				Col_10
			</div>
			<div class="col-1">
				Col_11
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (31)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
			<div class="col-1">
				Col_4
			</div>
			<div class="col-1">
				Col_5
			</div>
			<div class="col-1">
				Col_6
			</div>
			<div class="col-1">
				Col_7
			</div>
			<div class="col-1">
				Col_8
			</div>
			<div class="col-1">
				Col_9
			</div>
			<div class="col-1">
				Col_10
			</div>
			<div class="col-1">
				Col_11
			</div>
			<div class="col-1">
				Col_12
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (32)
		</h5>

		<div class="row">
			<div class="col-1">
				Col_1
			</div>
			<div class="col-1">
				Col_2
			</div>
			<div class="col-1">
				Col_3
			</div>
			<div class="col-1">
				Col_4
			</div>
			<div class="col-1">
				Col_5
			</div>
			<div class="col-1">
				Col_6
			</div>
			<div class="col-1">
				Col_7
			</div>
			<div class="col-1">
				Col_8
			</div>
			<div class="col-1">
				Col_9
			</div>
			<div class="col-1">
				Col_10
			</div>
			<div class="col-1">
				Col_11
			</div>
			<div class="col-1">
				Col_12
			</div>
			<div class="col-1">
				Col_13
			</div>
			<div class="col-1">
				Col_14
			</div>
			<div class="col-1">
				Col_15
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (33) - Refer To Grid (14)
		</h5>

		<div class="row">
			<div class="col-3">
				Col_1_1
			</div>
			<div class="col-3">
				Col_1_2
			</div>
			<div class="col-3">
				Col_1_3
			</div>
			<div class="col-3">
				Col_1_4
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				Col_2_1
			</div>
			<div class="col-3">
				Col_2_2
			</div>
			<div class="col-3">
				Col_2_3
			</div>
			<div class="col-3">
				Col_2_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (34)
		</h5>

		<div class="row">
			<div class="col-3">
				Col_1_1
			</div>
			<div class="col-3">
				Col_1_2
			</div>
			<div class="col-3">
				Col_1_3
			</div>
			<div class="col-3">
				Col_1_4
			</div>

			<div class="col-3">
				Col_2_1
			</div>
			<div class="col-3">
				Col_2_2
			</div>
			<div class="col-3">
				Col_2_3
			</div>
			<div class="col-3">
				Col_2_4
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.1/layout/grid/" target="_blank">Grid System</a>
	</div>

	<hr />
</body>
</html>
