@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
	<div class="container shadow-lg py-2 my-3">
		<h1>
			&raquo; Learning Grid
		</h1>

		<hr />
	</div>
</body>
</html>
