@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
	<div class="container">
		<h1 class="p-2 m-3 border rounded shadow-lg">
			&raquo; Learning Border & Rounded & Shadow
		</h1>
	</div>

	<div class="container shadow-lg py-2 my-3">
		<h3 dir="rtl">
			نکته مهم:
			دقت کنید که متاسفانه برای
			Border
			و
			Rounded
			و
			Shadow
			ها
			Breakpoint
			کار نمی‌کند!
		</h3>
	</div>

	<div class="container">
		<h5 class="p-2 m-3 border rounded shadow-lg">
			Additive
		</h5>

		<hr />

		<div class="row">
			<div class="col-6">
				No Border
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border">
				border
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border-start">
				border-start
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border-end">
				border-end
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border-top">
				border-top
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border-bottom">
				border-bottom
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border-start border-bottom">
				Mix: border-start border-bottom
			</div>
		</div>

		<hr />

		<h5 class="p-2 m-3 border rounded shadow-lg">
			Border Size
		</h5>

		<hr />

		<div class="row">
			<div class="col-6">
				No Border
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border">
				border
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border-0">
				No Border: border-0
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border-1">
				border-1 کار نمی‌کند
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-1">
				border border-1
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2">
				border border-2
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-3">
				border border-3
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-4">
				border border-4
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-5">
				border border-5
			</div>
		</div>

		<h5 class="p-2 m-3 border rounded shadow-lg">
			Subtractive
		</h5>

		<hr />

		<div class="row">
			<div class="col-6 border border-5 border-start-0">
				border border-5 border-start-0
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-5 border-end-0">
				border border-5 border-end-0
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-5 border-top-0">
				border border-5 border-top-0
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-5 border-bottom-0">
				border border-5 border-bottom-0
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-5 border-top-0 border-end-0">
				Mix: border border-5 border-top-0 border-end-0
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border-start border-bottom border-5">
				Mix: border-start border-bottom border-5
			</div>
		</div>

		<hr />

		<h5 class="p-2 m-3 border rounded shadow-lg">
			Border Color
		</h5>

		<hr />

		<div class="row">
			<div class="col-6 border-primary">
				border-primary کار نمی‌کند
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-primary">
				border border-primary
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-secondary">
				border border-secondary
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-success">
				border border-success
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-danger">
				border border-danger
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-warning">
				border border-warning
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-info">
				border border-info
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-light">
				border border-light
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-dark">
				border border-dark
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-white">
				border border-white
			</div>
		</div>

		<hr />

		<h5 class="p-2 m-3 border rounded shadow-lg">
			Rounded
		</h5>

		<div dir="rtl">
			به تنهایی هم کار می‌کند و نیازی نیست که حتما با
			Border
			ترکیب شود
		</div>

		<hr />

		<div class="row">
			<div class="col-6 bg-primary rounded">
				bg-primary rounded
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded">
				border border-2 border-danger rounded
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-start">
				border border-2 border-danger rounded-start
				<br />
				مشکل در مستندات سایت بوت‌استرپ
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-end">
				border border-2 border-danger rounded-end
				<br />
				مشکل در مستندات سایت بوت‌استرپ
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-top">
				border border-2 border-danger rounded-top
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-bottom">
				border border-2 border-danger rounded-bottom
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-pill">
				border border-2 border-danger rounded-pill
				<br />
				در مستندات سایت بوت‌استرپ وجود ندارد
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-circle">
				border border-2 border-danger rounded-circle
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6">
				<img src="~/images/Dariush.jpg" alt="Dariush Tasdighi" class="rounded-circle" />
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-0">
				border border-2 border-danger rounded-0
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-1">
				border border-2 border-danger rounded-1
				<br />
				در مستندات سایت بوت‌استرپ وجود ندارد
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-2">
				border border-2 border-danger rounded-2
				<br />
				در مستندات سایت بوت‌استرپ وجود ندارد
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-3">
				border border-2 border-danger rounded-3
				<br />
				در مستندات سایت بوت‌استرپ وجود ندارد
				<br />
				تا حداکثر عدد ۳ را پشتیبانی می‌کند
			</div>
		</div>

		<hr />

		<h5 class="p-2 m-3 border rounded shadow-lg">
			Shadow
		</h5>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-2">
				border border-2 border-danger rounded-2
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-2 shadow-none">
				border border-2 border-danger rounded-2 shadow-none
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-2 shadow-sm">
				border border-2 border-danger rounded-2 shadow-sm
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-6 border border-2 border-danger rounded-2 shadow-lg">
				border border-2 border-danger rounded-2 shadow-lg
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.0/utilities/borders/" target="_blank">Borders</a>
	</div>

	<hr />
</body>
</html>
