@page

<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn 700</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
	<div class="container shadow-lg py-2 my-3">
		<h1>
			&raquo; Learning Buttons
		</h1>
	</div>

	<hr />

	<div class="container">
		<button type="button">Button</button>
		<input type="button" value="Input" />
		<a href="#">Link</a>

		<hr />

		<button type="button" class="btn">btn</button>

		<hr />

		<button type="button" class="btn btn-primary">btn-primary</button>
		<button type="button" class="btn btn-secondary">btn-secondary</button>
		<button type="button" class="btn btn-success">btn-success</button>
		<button type="button" class="btn btn-danger">btn-danger</button>
		<button type="button" class="btn btn-warning">btn-warning</button>
		<button type="button" class="btn btn-info">btn-info</button>
		<button type="button" class="btn btn-light">btn-light</button>
		<button type="button" class="btn btn-dark">btn-dark</button>
		<button type="button" class="btn btn-link">btn-link</button>

		<hr />

		<input type="button" class="btn btn-primary" value="btn-primary" />
		<input type="button" class="btn btn-secondary" value="btn-secondary" />
		<input type="button" class="btn btn-success" value="btn-success" />
		<input type="button" class="btn btn-danger" value="btn-danger" />
		<input type="button" class="btn btn-warning" value="btn-warning" />
		<input type="button" class="btn btn-info" value="btn-info" />
		<input type="button" class="btn btn-light" value="btn-light" />
		<input type="button" class="btn btn-dark" value="btn-dark" />
		<input type="button" class="btn btn-link" value="btn-link" />

		<hr />

		<a href="#" class="btn btn-primary" role="button">btn-primary</a>
		<a href="#" class="btn btn-secondary" role="button">btn-secondary</a>
		<a href="#" class="btn btn-success" role="button">btn-success</a>
		<a href="#" class="btn btn-danger" role="button">btn-danger</a>
		<a href="#" class="btn btn-warning" role="button">btn-warning</a>
		<a href="#" class="btn btn-info" role="button">btn-info</a>
		<a href="#" class="btn btn-light" role="button">btn-light</a>
		<a href="#" class="btn btn-dark" role="button">btn-dark</a>
		<a href="#" class="btn btn-link" role="button">btn-link</a>

		<hr />

		<button type="button" class="btn btn-outline-primary">btn-outline-primary</button>
		<button type="button" class="btn btn-outline-secondary">btn-outline-secondary</button>
		<button type="button" class="btn btn-outline-success">btn-outline-success</button>
		<button type="button" class="btn btn-outline-danger">btn-outline-danger</button>
		<button type="button" class="btn btn-outline-warning">btn-outline-warning</button>
		<button type="button" class="btn btn-outline-info">btn-outline-info</button>
		<button type="button" class="btn btn-outline-light">btn-outline-light</button>
		<button type="button" class="btn btn-outline-dark">btn-outline-dark</button>

		<hr />

		<button type="button" class="btn btn-primary btn-sm">Small</button>
		<button type="button" class="btn btn-primary">Default</button>
		<button type="button" class="btn btn-primary btn-lg">Large</button>

		<hr />

		<button type="button" class="btn btn-primary disabled" tabindex="-1">Disabled Button</button>
		<a href="#" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">Disabled Link</a>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.3/components/buttons/" target="_blank">Buttons</a>
	</div>

	<hr />
</body>
</html>
