@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
	<div class="container">
		<h3>
			Hello, World!
		</h3>
	</div>

	<hr />

	<div class="container-fluid">
		<h3>
			Hello, World!
		</h3>
	</div>

	<hr />

	<div class="container border">
		<h3>
			Hello, World!
		</h3>
	</div>

	<hr />

	<div class="container-fluid border">
		<h3>
			Hello, World!
		</h3>
	</div>
</body>
</html>
