@page

@{
	Layout = "Layouts/_LayoutFileManager";
	ViewData["PageTitle"] = "Create Directory (0)";
}

<div class="row">
	<div class="col p-2 m-3 border rounded shadow-lg">
		<h1>
			Learning Step by Step
		</h1>
	</div>
</div>

<div class="row">
	<div class="col pt-1 px-2 m-3 border rounded shadow-lg">
		<h3>
			Step (1)
		</h3>
	</div>
</div>

<form method="post">

	<div class="row">
		<div class="col">
			<h5>
				Create Directory
			</h5>

			Directory Name
			<input type="text" id="directoryName" name="directoryName" />

			<br />
			<br />

			<input type="submit" value="Create" />
			<input type="reset" value="Reset" />
		</div>
	</div>

</form>

<div class="row">
	<div class="col pt-1 px-2 m-3 border rounded shadow-lg">
		<h3>
			Step (2)
		</h3>
	</div>
</div>

<form method="post">

	<div class="row">
		<div class="col">
			<h5>
				Create Directory
			</h5>

			Directory Name
			<br />
			<input type="text" id="directoryName" name="directoryName" />

			<br />
			<br />

			<input type="submit" value="Create" />
			<input type="reset" value="Reset" />
		</div>
	</div>

</form>

<div class="row">
	<div class="col pt-1 px-2 m-3 border rounded shadow-lg">
		<h3>
			Step (3)
		</h3>
	</div>
</div>

<form method="post">

	<div class="row">
		<div class="col">
			<h5>
				Create Directory
			</h5>

			<label for="directoryName">Directory Name</label>
			<br />
			<input type="text" id="directoryName" name="directoryName" />

			<br />
			<br />

			<input type="submit" value="Create" />
			<input type="reset" value="Reset" />
		</div>
	</div>

</form>

<div class="row">
	<div class="col pt-1 px-2 m-3 border rounded shadow-lg">
		<h3>
			Step (4)
		</h3>
	</div>
</div>

<form method="post">

	<div class="row">
		<div class="col border">
			<h5>
				Create Directory
			</h5>

			<div class="row">
				<div class="col-2">
					<label for="directoryName" class="form-label">Directory Name</label>
				</div>
				<div class="col-10">
					<input type="text" id="directoryName" name="directoryName" class="form-control" />
				</div>
			</div>

			<div class="row">
				<div class="col-10 offset-2">
					<button type="submit" class="btn btn-primary">Create</button>
					<button type="reset" class="btn btn-secondary">Reset</button>
				</div>
			</div>
		</div>
	</div>

</form>

<div class="row">
	<div class="col pt-1 px-2 m-3 border rounded shadow-lg">
		<h3>
			Step (5)
		</h3>
	</div>
</div>

<form method="post">

	<div class="row">
		<div class="col py-2 my-3 bg-light border rounded shadow-lg">
			<h5>
				Create Directory
			</h5>

			<hr />

			<div class="row mb-3">
				<div class="col-2">
					<label for="directoryName" class="form-label">Directory Name</label>
				</div>
				<div class="col-10">
					<input type="text" id="directoryName" name="directoryName" class="form-control" />
				</div>
			</div>

			<div class="row">
				<div class="col-10 offset-2">
					<button type="submit" class="btn btn-primary">Create</button>
					<button type="reset" class="btn btn-secondary">Reset</button>
				</div>
			</div>
		</div>
	</div>

</form>

<div class="row">
	<div class="col pt-1 px-2 m-3 border rounded shadow-lg">
		<h3>
			Step (6)
		</h3>
	</div>
</div>

<form method="post">

	<div class="row">
		<div class="col py-2 my-3 bg-light border rounded shadow-lg">
			<legend>
				Create Directory
			</legend>

			<hr />

			<div class="row mb-3">
				<label for="directoryName" class="form-label">Directory Name</label>
				<div class="col-12">
					<input type="text" id="directoryName" name="directoryName" class="form-control" placeholder="Please write the directory name" aria-label="Directory Name" />
				</div>
			</div>

			<button type="submit" class="btn btn-primary" accesskey="C">(C)reate</button>
			<button type="reset" class="btn btn-secondary" accesskey="R">(R)eset</button>
		</div>
	</div>

</form>

<div class="row">
	<div class="col pt-1 px-2 m-3 border rounded shadow-lg">
		<h3>
			Step (7)
		</h3>
	</div>
</div>

<form method="post">

	<div class="row">
		<div class="col py-2 my-3 bg-light border rounded shadow-lg">
			<legend>
				Create Directory
			</legend>

			<hr />

			<div class="row mb-3">
				<div class="col-12">
					<input type="text" id="directoryName" name="directoryName" class="form-control" placeholder="Directory Name" aria-label="Directory Name" />
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Create</button>
			<button type="reset" class="btn btn-secondary">Reset</button>
		</div>
	</div>

</form>

<div class="row">
	<div class="col pt-1 px-2 m-3 border rounded shadow-lg">
		<h3>
			Step (8)
		</h3>
	</div>
</div>

<form method="post">

	<div class="row">
		<div class="col py-2 my-3 bg-light border rounded shadow-lg">
			<legend>
				Create Directory
			</legend>

			<hr />

			<div class="row mb-3">
				<label for="directoryName" class="form-label">Directory Name</label>
				<div class="col-12">
					<input type="text" id="directoryName" name="directoryName" class="form-control" placeholder="Do not use space!" aria-label="Directory Name" />
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Create</button>
			<button type="reset" class="btn btn-secondary">Reset</button>
		</div>
	</div>

</form>

<div class="row">
	<div class="col pt-1 px-2 m-3 border rounded shadow-lg">
		<h3>
			Step (9)
		</h3>
	</div>
</div>

<form method="post">

	<div class="row">
		<div class="col py-2 my-3 bg-light border rounded shadow-lg">
			<legend>
				Create Directory
			</legend>

			<hr />

			<div class="mb-3">
				<label for="directoryName" class="form-label">Directory Name</label>
				<input type="text" id="directoryName" name="directoryName" class="form-control" aria-label="Directory Name" />
			</div>

			<button type="submit" class="btn btn-primary">Create</button>
			<button type="reset" class="btn btn-secondary">Reset</button>
		</div>
	</div>

</form>

<div class="row">
	<div class="col pt-1 px-2 m-3 border rounded shadow-lg">
		<h3>
			Step (10)
		</h3>
	</div>
</div>

<form method="post">

	<div class="row">
		<div class="col-12 p-3 col-md-8 offset-md-2 p-md-5 bg-light border border-2 rounded-3 shadow-lg">
			<legend>
				Create Directory
			</legend>

			<hr />

			<div class="mb-3">
				<label for="directoryName" class="form-label">Directory Name</label>
				<input type="text" id="directoryName" name="directoryName" class="form-control" aria-label="Directory Name" />
			</div>

			<button type="submit" class="btn btn-primary">Create</button>
			<button type="reset" class="btn btn-secondary">Reset</button>
		</div>
	</div>

</form>
