@page
@model Server.Pages.FileManager.Step03.CreateDirectoryModel6

@{
	ViewData["PageTitle"] =
		"Create Directory (6)";

	Layout = "Layouts/_LayoutFileManager";
}

<form method="post">

	<div class="row">
		<div class="col-12 p-3 col-md-8 offset-md-2 p-md-5 bg-light border border-2 rounded-3 shadow-lg">
			<legend>
				Create Directory
			</legend>

			<hr />

			@{
				var successMessage = ViewData["SuccessMessage"]?.ToString();

				if (string.IsNullOrWhiteSpace(successMessage) == false)
				{
					<div class="alert alert-success" role="alert">
						@(successMessage)
					</div>
				}
			}

			<div class="mb-3">
				<label asp-for="ViewModel.DirectoryName" class="form-label"></label>
				<input asp-for="ViewModel.DirectoryName" class="form-control" />
				<span asp-validation-for="ViewModel.DirectoryName" class="text-danger"></span>
			</div>

			<button type="submit" class="btn btn-primary">Create</button>
			<button type="reset" class="btn btn-secondary">Reset</button>
		</div>
	</div>

</form>
