@page
@model Server.Pages.FileManager.Step03.IndexModel

@{
	Layout = "Layouts/_LayoutFileManager";
}

<h3>
	Step (3)
</h3>

<hr />

<ul>
	<li>
		<a asp-page="CreateDirectory1">Create Direcotry (1)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory2">Create Direcotry (2)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory3">Create Direcotry (3)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory4">Create Direcotry (4)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory5">Create Direcotry (5)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory6">Create Direcotry (6)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory7">Create Direcotry (7)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory8">Create Direcotry (8)</a>
	</li>
</ul>
