@page

@{
	ViewData["PageTitle"] = "Step (3)";
	Layout = "Layouts/_LayoutFileManager";
}

<div class="row">
	<div class="col pt-2 px-2 m-3 border rounded shadow-lg">
		<h1>
			Step (3)
		</h1>
	</div>
</div>

<ul>
	<li>
		<a asp-page="CreateDirectory0">Create Direcotry (0)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory1">Create Direcotry (1)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory2">Create Direcotry (2)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory3">Create Direcotry (3)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory4">Create Direcotry (4)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory5">Create Direcotry (5)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory6">Create Direcotry (6)</a>
	</li>
	<li>
		<a asp-page="CreateDirectory7">Create Direcotry (7)</a>
	</li>
	<li>
		<a asp-page="DoSomething">Do Something (Redirect To CreateDirectory7 with some messages!</a>
	</li>
	<li>
		<a asp-page="CreateDirectory8">Create Direcotry (8)</a>
	</li>
</ul>
