@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

	<style>
		div.row {
			border: 1px solid black;
			background-color: rgb(211,211,211, 0.3);
		}

			div.row > div[class^="col"] {
				border: 1px solid red;
				background-color: rgb(211,211,211, 0.3);
			}
	</style>
</head>

<body>
	<div class="container shadow-lg py-2 my-3">
		<h1>
			&raquo; Learning New Grid (15)
			-
			row-cols-auto
			-
			col-auto
		</h1>
	</div>

	<div class="container shadow-lg py-2 my-3">
		<h3 dir="rtl">
			نکته مهم:
			برنامه‌نویسان عزیز، تا درس قبل برای شما مناسب بوده
			و باید آن‌ها را به دقت مطالعه کرده و یاد بگیرید
			ولی از این درس به بعد، مطالب مناسب طراحان سایت می‌باشد
		</h3>
	</div>

	<div class="container">
		<h5>
			Grid (1)
		</h5>

		<div class="row row-cols-auto">
			<div class="col">
				Hello
			</div>
			<div class="col">
				How are you?
			</div>
			<div class="col">
				My name is Dariush Tasdighi
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (2)
		</h5>

		<div class="row">
			<div class="col">
				col
			</div>
			<div class="col-auto">
				col-auto
			</div>
			<div class="col">
				col
			</div>
		</div>
	</div>

	<hr />
</body>
</html>
