@page

<!doctype html>

<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Learn</title>

	<link rel="icon" href="/favicon.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

	<style>
		div.row {
			border: 1px solid black;
			background-color: rgb(211,211,211, 0.3);
		}

			div.row > div[class^="col"] {
				border: 1px solid red;
				background-color: rgb(211,211,211, 0.3);
			}

				div.row > div[class^="col"] > div {
					padding: 10px;
					border: 1px solid blue;
					background-color: rgb(211,211,211, 0.3);
				}
	</style>
</head>

<body>
	<div class="container shadow-lg py-2 my-3">
		<h1>
			&raquo; Learning Gutters
		</h1>
	</div>

	<hr />

	<div class="container">
		<h3>
			Horizontal Gutter
		</h3>
	</div>

	<div class="container">
		<h5>
			Grid (1) - Default
		</h5>

		<div class="row">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<br />

	@*
		دقت کنید که برای حالت ذیل خیلی خودش را نشان نمی‌دهد

		<div class="container">
			<div class="row">
				<div class="col">
					Col_1
				</div>
				<div class="col">
					Col_2
				</div>
			</div>
		</div>

		<br />
	*@

	<div class="container">
		<h5>
			Grid (2) (gx-0)
		</h5>

		<div class="row gx-0">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (3) (gx-1)
		</h5>

		<div class="row gx-1">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (4) (gx-2)
		</h5>

		<div class="row gx-2">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (5) (gx-3)
		</h5>

		<div class="row gx-3">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (6) (gx-4)
		</h5>

		<div class="row gx-4">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (7) (gx-5)
		</h5>

		<div class="row gx-5">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			Vertical Gutter
		</h3>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (8) (gy-0)
		</h5>

		<div class="row row-cols-2 gy-0">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (9) (gy-1)
		</h5>

		<div class="row row-cols-2 gy-1">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (10) (gy-2)
		</h5>

		<div class="row row-cols-2 gy-2">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (11) (gy-3)
		</h5>

		<div class="row row-cols-2 gy-3">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (12) (gy-4)
		</h5>

		<div class="row row-cols-2 gy-4">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (13) (gy-5)
		</h5>

		<div class="row row-cols-2 gy-5">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			Horizontal and Vertical Gutter
		</h3>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (14) (g-0)
		</h5>

		<div class="row row-cols-2 g-0">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (15) (g-1)
		</h5>

		<div class="row row-cols-2 g-1">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (16) (g-2)
		</h5>

		<div class="row row-cols-2 g-2">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (17) (g-3)
		</h5>

		<div class="row row-cols-2 g-3">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (18) (g-4)
		</h5>

		<div class="row row-cols-2 g-4">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h5>
			Grid (19) (g-5)
		</h5>

		<div class="row row-cols-2 g-5">
			<div class="col">
				<div>Col_1</div>
			</div>
			<div class="col">
				<div>Col_2</div>
			</div>
			<div class="col">
				<div>Col_3</div>
			</div>
			<div class="col">
				<div>Col_4</div>
			</div>
			<div class="col">
				<div>Col_5</div>
			</div>
			<div class="col">
				<div>Col_6</div>
			</div>
		</div>
	</div>

	<hr />

	<div class="container">
		<h3>
			&mdash; Reference
		</h3>

		<a href="https://getbootstrap.com/docs/5.1/layout/gutters/" target="_blank">Gutters</a>
	</div>

	<hr />
</body>
</html>
