@page
@model Server.Pages.FileManager.Step04.CreateOrDeleteDirectory0

@{
	Layout = "Layouts/_LayoutFileManager";
	ViewData["PageTitle"] = "Create or Delete Directory (0)";
}

<form method="post">

	<div class="row">
		<div class="col-12 p-3 col-md-8 offset-md-2 p-md-5 bg-light border border-2 rounded-3 shadow-lg">
			<legend>
				Create or Delete Directory
			</legend>

			<hr />

			<div class="mb-3">
				<label for="directoryName" class="form-label">Directory Name</label>
				<input type="text" id="directoryName" name="directoryName" class="form-control" aria-label="Directory Name" />
			</div>

			<button type="submit" class="btn btn-primary">Create</button>
			<button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete</button>
			<button type="reset" class="btn btn-secondary">Reset</button>
		</div>
	</div>

</form>

@section Scripts
{
	<script>

		$(function() {

			$('form').submit(function (e) {

				if ($(this).valid()) {

					$('button').prop('disabled', true)
					$('input[type=reset]').prop('disabled', true)
					$('input[type=submit]').prop('disabled', true)
					$('input[type=button]').prop('disabled', true)

				}

			})

		})

	</script>
}
