@page

@{
	ViewData["PageTitle"] = "Step (4)";
	Layout = "Layouts/_LayoutFileManager";
}

<div class="row">
	<div class="col pt-2 px-2 m-3 border rounded shadow-lg">
		<h1>
			Step (4)
		</h1>
	</div>
</div>

<ul>
	<li>
		<a asp-page="CreateOrDeleteDirectory0">Create or Delete Direcotry (0)</a>
	</li>
	<li>
		<a asp-page="CreateOrDeleteDirectory1">Create or Delete Direcotry (1)</a>
	</li>
</ul>
