@{
	var pageErrors =
		TempData[key: Infrastructure.BasePageModel.MessageType.PageError.ToString()] as
		System.Collections.Generic.List<string>;

	var pageWarnings =
		TempData[key: Infrastructure.BasePageModel.MessageType.PageWarning.ToString()] as
		System.Collections.Generic.List<string>;

	var pageSuccesses =
		TempData[key: Infrastructure.BasePageModel.MessageType.PageSuccess.ToString()] as
		System.Collections.Generic.List<string>;

	if ((pageErrors == null || pageErrors.Count == 0) &&
	(pageWarnings == null || pageWarnings.Count == 0) &&
	(pageSuccesses == null || pageSuccesses.Count == 0))
	{
		return;
	}
}

<div class="row">
	<div class="col-12 p-3 col-md-8 offset-md-2 p-md-5 bg-light border border-2 rounded-3 shadow-lg">
		<partial name="PartialViews/_DisplayPageMessages" />
	</div>
</div>
