<div aria-live="polite" aria-atomic="true" class="position-relative">
	<div class="toast-container position-absolute top-0 end-0 p-3" style="z-index: 10000;">

		@{
			var errorToasts =
			ViewData[index: Infrastructure.BasePageModel.ErrorToastsKeyName] as
			System.Collections.Generic.IList<string>;

			if (errorToasts != null)
			{
				foreach (var message in errorToasts)
				{
					<div class="toast bg-danger text-white opacity-50" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="8000" data-bs-animation="true" data-bs-autohide="true">
						<div class="toast-body">
							@(message)
						</div>
					</div>
				}
			}

			var warningToasts =
			ViewData[index: Infrastructure.BasePageModel.WarningToastsKeyName] as
			System.Collections.Generic.IList<string>;

			if (warningToasts != null)
			{
				foreach (var message in warningToasts)
				{
					<div class="toast bg-warning text-black opacity-50" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000" data-bs-animation="true" data-bs-autohide="true">
						<div class="toast-body">
							@(message)
						</div>
					</div>
				}
			}

			var successToasts =
			ViewData[index: Infrastructure.BasePageModel.SuccessToastsKeyName] as
			System.Collections.Generic.IList<string>;

			if (successToasts != null)
			{
				foreach (var message in successToasts)
				{
					<div class="toast bg-success text-white opacity-50" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000" data-bs-animation="true" data-bs-autohide="true">
						<div class="toast-body">
							@(message)
						</div>
					</div>
				}
			}
		}

	</div>
</div>

<script>

	window.addEventListener('load', (e) => {

		var toastElements =
			document.querySelectorAll('.toast')

		toastElements.forEach((toastElement, index) => {

			let toast =
				new bootstrap.Toast(toastElement)

			toast.show()

		})

	})

</script>
