@page
@model Server.Pages.FileManager.Step02.IndexModel

@{
	Layout = "Layouts/_LayoutFileManager";
}

<h5>
	Current Path: @(Model.CurrentPath)
</h5>

<hr />

<partial name="PartialViews/_DisplayDirectories" model="Model" />
@* <partial name="PartialViews/_DisplayDirectories" model="Model.Directories" /> *@

<hr />

<partial name="PartialViews/_DisplayFiles" model="Model" />

<hr />
